body {
  h2 {
    color: #a4ffaf;
  }
  label {
    color: white;
  }
  p {
    color: #a4ffaf;
  }
  strong {
    color: greenyellow;
  }
  button {
    background-color: #a4ffaf;
    padding: 10px;
    color: #24232c;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  display: flex;
  justify-content: center;
  .wrapper {
    width: 300px;
    height: 200px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;

    form {
      input {
        padding: 8px;
        margin-bottom: 8px;
      }
    }
  }
  background-color: #24232c;
}
